!!! 5
html(lang='en')
	head
		title #{name}
		include inc/style
	body
		div#alerts
		div#wrap
			div.container
				div.page-header
					h1 Success
					p.lead Your application #{name} is running!

				div#push
		include inc/footer
		include inc/scripts

